/* setting background for product column */
.bg-color{
    background-color: #2F4F4F;
}
/* search div style */
.searchDiv{
    background-color:rgba(0, 0, 0, 0.889);
    text-align: center;
    height: 80px;
    margin-top: -25px;
}
.search{
    width: 800px;
    height: 45px;
    line-height: 30px;
    border-radius: 18px ;
}