/* style cart */
.cart {
    width: 450px;
    border: 1px solid green;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
}
@media only screen and (max-width: 1200px) {
    .cart {
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .cart {
        margin-left: -0.2rem;
        width: 100%;
    }
}